nav{
    width: 100%;
    overflow: auto;
    background-color:transparent;
}
ul{
    padding: 0;
    margin: 0 0 0 160px;
    list-style: none;
}
li{
    float: left;
}
#li1{
    margin-left: 1000px;
}
.logo{
    position: absolute;
    margin-left: 10px;  
}
#open{
    margin-left: 50px;
}
nav a{
    display: block;
    padding: 30px 10px 20px 10px;
    text-decoration: none;
    font-family: arial;
    color: black;
    text-align: center;
}
nav a:hover{
    background:rgb(210, 217, 219);
    transition: 0.5s;
}
.background{
    margin-top: 0%;
    width: 105%;
    background-image:url("hp1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: scroll;
} 
/*.background2{
    width: 105%;
    height: 200%;
    background-image:url("hp.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: scroll;
} */
p{
    text-align: center;
    padding: 30px;
    font-size:30px;
    margin-top: 5px;
}
#b1{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 30px;
    background-color: white;
    margin-left: 60%;
}
#b2{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 30px;
    background-color: white;
    width: 270px;
    margin-left: 60%;
}
#b3{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    padding-left: 105px;
    padding-right: 105px;
    border-radius: 30px;
    background-color: white;
    width: 270px;
    margin-left: 60%;
}
.search-field{
    height: 35px;
    padding: 10px;
    border-radius: 25px;
    outline: none;
}
.skills{
    width: 220px;
    margin-left: 150px;
    text-align: center;
}
.location{
    width: 220px;
    text-align: center;
}
.search-btn{
    height: 60px;
    width: 380px; ;
    color:#000 ;
    border-radius: 25px;
    font-size: 18px;
}
.search-btn:hover{
    cursor: pointer;
}
table{
    margin-top: 20px;
    padding-bottom: 70px;
}
#post{
   margin-left: 40%;
   font-size: 25px;
   width: 160px;
   margin-top: 0px;
   border-radius: 5px;
   text-decoration: none;
}
#label{
   margin-left: 10%;
   font-size: 22px;
   width: 600px; 
}
#upload{
  font-size: 22px;
  border-radius: 5px;
  text-decoration: none;
}
#about2{
    width: 53%;
  font-size: 26px;
    margin-left: 8%;
    font-style: normal;
    font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
}
#about3{
    width: 58%;
    margin-top: 0%;
   font-size: 30px;
  margin-left: 20%;
    font-style: normal;
    font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
}
.imglogo{
    text-align: center;
    font-size: 30px;
    margin-top: 40%;
}
#per1{
    position: absolute;
    margin-left: 30%;
    font-size: 70px;
    margin-top: 20px;
}
#per2{
    position: absolute;
    margin-left: 25%;
    font-size: 25px;
    margin-top: 90px;
}
#per3{
    position: absolute;
    font-size: 70px;
    margin-left: 55%;
    margin-top: 20px;
}
#per4{
    position: absolute;
    margin-left: 50%;
    font-size: 25px;
    margin-top: 90px;
}
#per5{
    position: absolute;
    margin-top: 150px;
    font-size: 70px;
    margin-left: 30%;

}
#per6{
    position: absolute;
    margin-left: 24%;
    font-size: 25px;
    margin-top: 220px;
}
#per7{
    position: absolute;
    font-size: 70px;
    margin-top: 150px;
    margin-left: 55%;
}
#per8{
    position: absolute;
    margin-left: 50%;
    font-size: 25px;
    margin-top: 220px;
}
#industry{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    padding: 30px;
}

#b4{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b4:hover{transform: scale(1.3);}
#b5{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 55px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b5:hover{transform: scale(1.3);}
#b6{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 40px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b6:hover{transform: scale(1.3);}
#b7{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b7:hover{transform: scale(1.3);}
#b8{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 70px;
    padding-left: 70px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b8:hover{transform: scale(1.3);}
#b9{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b9:hover{transform: scale(1.3);}
#b10{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b10:hover{transform: scale(1.3);}
#b11{
    font-size: 20px;
    text-align:center;
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25%;
}
#b11:hover{transform: scale(1.3);}
footer{
    text-align: center;
    margin-top: 480px;
    padding: 35px;
    background-color:rgba(207, 203, 203, 0.918);
}
.btn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
}
.btn:hover{
    background: rgb(210, 217, 219);
    transition: 0.5s;
}
.fa-user-circle{
    position: absolute;
    font-size: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.btn1{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    background-color:coral;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    color:whitesmoke;
    position: relative;
    text-align: center;
    margin-left: 50%;
    padding: 0px;
    /* position: absolute;
    font-size: 40px;
    margin-left: 17%;
    margin-top: -0.5%; */
}
.btn1 i{
    line-height: 90px;
    font-size: 40px;
    transition: 0.2s linear;
}
.btn2{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    background-color:coral;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    color:whitesmoke;
    position: relative;
    text-align: center;
    margin-left: 50%;
    padding: 0px;
    /* position: absolute;
    font-size: 40px;
    margin-left: 17%;
    margin-top: -0.5%; */
}
.btn2 i{
    line-height: 90px;
    font-size: 40px;
    transition: 0.2s linear;
}
/* .fa-cart-arrow-down{
    position: absolute;
    font-size: 40px;
    margin-left: 18%;
    margin-top: -0.5%;
}
.fa-building-o{
    position: absolute;
    font-size: 40px;
    margin-left: 20%;
    margin-top: -0.5%;
}
.fa-paint-brush{
    position: absolute;
    font-size: 40px;
    margin-left: 20%;
    margin-top: -0.5%;
} */
/* .fa-medkit{
    position: absolute;
    font-size: 40px;
    margin-left: 17%;
    margin-top: -0.5%;
}
.fa-rocket{
    position: absolute;
    font-size: 40px;
    margin-left: 18%;
    margin-top: -0.5%;
}
.fa-code{
    position: absolute;
    font-size: 40px;
    margin-left: 19%;
    margin-top: -0.5%;
}
.fa-pencil{
    position: absolute;
    font-size: 40px;
    margin-left: 20%;
    margin-top: -0.5%;
} */

